@{
    Page.Title = "CRUD: Insert";
    Layout = "~/_LayoutMenu.cshtml";

    var formbutton = Request.Form["FormButton"];

    var productname = "";
    var selectedsupplier = "";
    var selectedcategory = "";
    var quantityperunit = "";
    var unitprice = "";
    var unitsinstock = "";
    var unitsonorder = "";
    var reorderlevel = "";
    var discontinued = "";

    var db = Database.Open("NWDB");

    var categoryquery = "SELECT CategoryID, CategoryName "
                        + "FROM Categories "
                        + "ORDER BY 2";

    var categorylist = db.Query(categoryquery);

    var supplierquery = "SELECT SupplierID, CompanyName "
                        + "FROM Suppliers "
                        + "ORDER BY 2";

    var supplierlist = db.Query(supplierquery);

    Validation.Add("ProductName", Validator.Required("Product Name is required."));
    Validation.Add("UnitPrice", Validator.Decimal("Price is a number like 5.99"),
                                Validator.Range(0.00, 20.00, "Price must be between 0.00 and 20.00"));

    Validation.Add("ReorderLevel", Validator.Integer("Reorder level is a number."),
                                   Validator.Range(1950.0, double.MaxValue, "Reorder level must be 0 or greater."));
    /*Validation.Add("Category", Validator.Range(1, 8, "Please select a category"));*/
}

@section banner{
    <span style="font-size:xx-large"><strong>CRUD: Insert</strong></span>
}

@if (IsPost && Validation.IsValid()) {

    if(formbutton.Equals("reset"))
    {
        <p class="col-sm-11 text-center">Cleared by user</p>
        discontinued = "";
    }
    else
    {
        //collect data from input text boxes
        productname = Request.Form["ProductName"];
        selectedsupplier = Request.Form["Supplier"];
        selectedcategory = Request.Form["Category"];
        quantityperunit = Request.Form["QuantityPerUnit"];
        unitprice = Request.Form["UnitPrice"];
        unitsinstock = Request.Form["UnitsInStock"];
        unitsonorder = Request.Form["UnitsOnOrder"];
        reorderlevel = Request.Form["ReorderLevel"];

        //returns null (unchecked) or "on" (checked
        discontinued = Request.Form["Discontinued"];

        try
        {
            var db1 = Database.Open("NWDB");

            var insertcommand = "INSERT INTO Products (ProductName, SupplierID, "
                            + "CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, "
                            + "UnitsOnOrder, ReorderLevel, Discontinued) "
                            + "VALUES(@0, @1, @2, @3, @4, @5, @6, @7, @8)";

            db1.Execute(insertcommand, productname,
                 string.IsNullOrEmpty(selectedsupplier) ? null : selectedsupplier,
                 string.IsNullOrEmpty(selectedcategory) ? null : selectedcategory,
                 string.IsNullOrEmpty(quantityperunit) ? null : quantityperunit,
                 string.IsNullOrEmpty(unitprice) ? null : unitprice,
                 string.IsNullOrEmpty(unitsinstock) ? null : unitsinstock,
                 string.IsNullOrEmpty(unitsonorder) ? null : unitsonorder,
                 string.IsNullOrEmpty(reorderlevel) ? null : reorderlevel,
                 string.IsNullOrEmpty(discontinued) ? 0 : 1);
                
             <p class="col-sm-11 text-center">
                <span style="color:green">
                    New product added to file
                </span>
            </p>
        }
        catch (Exception ex)
        {
            <p class="col-sm-11 text-center">
                <span style="color:firebrick">
                    <strong>@ex.Message</strong>
                </span>
            </p>
        }
    }

}
<div>
    @Html.ValidationSummary()
    <form id="theForm" action="" method="post">
        <div class="row">
            <div class="col-sm-5 text-right">
                <label id="forProductName">Name:</label><br />
                <label id="forSupplier">Supplier:</label><br />
                <label id="forCategory">Category:</label><br />
                <label id="forQuantityPerUnit">Qty/Unit:</label><br />
                <label id="forUnitPrice">Price:</label><br />
                <label id="forUnitsInStock">QOH:</label><br />
                <label id="forUnitsOnOrder">QOO:</label><br />
                <label id="forReorderLevel">ROL:</label><br />
                <label id="forDiscontinued">Disc.:</label><br />
            </div>
            <div class="col-sm-6">
                <input type="text" name="ProductName" id="ProductName" value="@productname" placeholder="product name" />@Html.ValidationMessage("ProductName")<br />
                <!--<input type="text" name="Supplier" id="Supplier" value="@selectedsupplier" placeholder="supplier id" /><br />-->
                <select id="Supplier" name="Supplier">
                    <option value="0">select...</option>
                    @foreach (var item in supplierlist)
                    {
                        if (selectedsupplier.Equals(item[0].ToString()))
                        {
                            <option value="@item[0]" selected>@item.CompanyName</option>
                        }
                        else
                        {
                            <option value="@item[0]">@item.CompanyName</option>
                        }
                    }
                </select><br />
                <!--<input type="text" name="Category" id="Category" value="@selectedcategory" placeholder="category id" /><br />-->
                <select id="Category" name="Category">
                    <option value="0">select...</option>
                    @foreach (var item in categorylist)
                    {
                        if (selectedcategory.Equals(item[0].ToString()))
                        {
                            <option value="@item[0]" selected>@item.CategoryName</option>
                        }
                        else
                        {
                            <option value="@item[0]">@item.CategoryName</option>
                        }
                    }
                </select><br />
                <input type="text" name="QuantityPerUnit" id="QuantityPerUnit" value="@quantityperunit" /><br />
                <input type="text" name="UnitPrice" id="UnitPrice" value="@unitprice" />@Html.ValidationMessage("UnitPrice")<br />
                <input type="text" name="UnitsInStock" id="UnitsInStock" value="@unitsinstock" title="Quantity currently in inventory." /><br />
                <input type="text" name="UnitsOnOrder" id="UnitsOnOrder" value="@unitsonorder" title="Quantity currently on Order." /><br />
                <input type="text" name="ReorderLevel" id="ReorderLevel" value="@reorderlevel" title="Quantity safety level." />@Html.ValidationMessage("ReorderLevel")<br />
                <input type="checkbox" name="Discontinued" id="Discontinued" title="Product is discontinued if checked."
                       @(string.IsNullOrEmpty(discontinued) ? "" : "checked") /><br />
            </div>
                <div class="row">
                    <div class="col-sm-11 text-center">
                        <button type="submit" name="FormButton" value="submit" class="btn btn-primary" style="width:90px">
                            Add
                        </button>
                        &nbsp;&nbsp;
                        <button type="submit" name="FormButton" value="reset" class="btn" style="width:90px">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
